@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  text-align: center;
  background-color: black;
}

p{
  font-size: 20px;
  color: gray;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  width: 300px;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
}

.week{
  color: #3f5b8b;
  margin-bottom: 0;
}

section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #3f5b8b;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1{
  padding-top: 0px;
  margin-top: 0px;
}

h4{
 margin-bottom: -5px;
}

h5{
  margin-top: 0px;
}

h2{
  margin-bottom: 0px;
}

sup {
  font-size: .6em;
}

.tiny_box1{
  border-left-style: solid;
  border-color: gray;
  border-right-style: solid;
}