body{
    background-color: purple;
}

section {
    padding: 30px;
}

#food{
    background-color: darkkhaki;
    grid-row: 1/3;
}
.favcolor{
    background-color: darkolivegreen;
    color:bisque;
}
.future{
    background-color: brown;
    color: bisque;
    font-size: 25px;
    font-weight: bold;
    grid-row: 1;
}
.future div{
    background-color: bisque;
    color: brown;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* max-width: 700px; */
    border: solid 2px black;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* max-width: 700px; */
    border: solid 2px black;
}
.box{
    text-align: center;
    background-color: darkolivegreen;
}
.bottom{
    grid-column:-4/-1;
    text-align: center;
    background-color: bisque;
}